.top {
    padding-bottom: 1em;
}

.animation-unpooled, .graph-unpooled  {
    background: #90ee90;
}

.animation-pooled, .graph-pooled {
    background: #B0C4DE;
}

.statusinfo {
    background: #eee;
}

.bottom {
    width: 100%;
}



.axis-label {
    font-size: 2em;
}

.y-axis-left-label, .y-axis-right-label {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

.legend-queued-patients, .legend-waiting-time {
    font-weight: bold;
}

.title {
    font-size: 1.5em;
}

pre {
    margin: 10px 0 10px;
}

.markdown {
    width: 750px;
    margin: 0 auto;
    background: #f8f8f8;
}
