.top {
    /*display: grid;
    (grid-template-columns: 7fr 7fr;
    grid-gap: 1em;*/
    padding-bottom: 1em;
}

.animation-unpooled, .animation-pooled  {
    background: #E6E6E3;
}

.statusinfo {
    background: #eee;
}

.bottom {
    width: 100%;
}

.graph-unpooled, .graph-pooled {
    background: #ddd;
}

.axis-label {
    font-size: 2em;
}

pre {
    margin: 10px 0 10px;
}
